* {
  margin: 0;
  padding: 0;
}

.top-header {
  background: #f0f2f4;
}

.top-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.top-header ul li {
  color: #606062;
  font-size: 17px;
}

.top-header ul li i {
  margin-right: 6px;
}

.facebook {
  color: #1287bf;
  font-size: 22px;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: #424242;
  font-size: 17px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #de2b24;
}

.btn-danger {
  background-color: #de2b24;
  padding: 10 21px !important;
}

.btn-consultation {
  color: #fff !important;
  padding: 8px 17px !important;
  margin-left: 33px;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 600;
}

.banner p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.btn-free {
  background: #f8cd53;
  color: #fff !important;
  text-transform: uppercase;
  padding: 10px 47px;
  font-size: 20px;
}

.btn-free:hover {
  color: #fff;
  background: #d8ae3c;
}

.hg {
  min-height: 85vh;
}

.heading h1 {
  text-transform: capitalize;
  font-size: 45px;
  color: #424242;
}

.heading p {
  color: #666666;
  font-size: 20px;
}

.heading::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: 0;
  background: #424242;
  transform: translateX(-50%);
  transition: 0.5s all ease-in-out;
}

.about:hover .heading::before {
  width: 50px;
}

.heading-content h3 {
  color: #424242;
  font-size: 25px;
  font-weight: 600;
}

.heading-content p {
  color: #666666;
  font-weight: 400;
}

.image img {
  margin-bottom: 35px;
}

.approach {
  background: #f3f3f3;
}

.approach:hover .heading::before {
  width: 50px;
}

.approach-content {
}

.bg {
  background: #fff;
}

.approach-content h4 {
  color: #424242;
  margin-left: 60px;
}

.approach-content p {
  color: #666666;
  margin-left: 60px;
}

.step {
  position: relative;
}

.step-detail-one {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  height: 90px;
  width: 90px;
  background: red;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
}

.step-detail-one h1,
.step-detail-two h1 {
  color: #fff;
  margin: 0;
  margin-top: 5px;
}

.step-detail-one p,
.step-detail-two p {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.step-detail-two {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  height: 90px;
  width: 90px;
  background: red;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
}

.approach-content-second h4 {
  color: #424242;
  margin-right: 60px;
}

.approach-content-second p {
  color: #666666;
  margin-right: 60px;
}
